<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<!-- <h1>Prediction Page</h1> -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <span><u>TOP 10 - Recomendaciones para:</u> <b> {{ target }} </b></span>
    <table style="width:30%" class="table table-striped">
      <thead>
        <tr>
          <th>Pos</th>
          <th>Pelicula</th>
        </tr>
      </thead>
      <tbody>
        {% for movie in data[0:10] %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{movie}}</td>
        </tr>                  
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

</body>
</html>