<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Sistema de Recomendación de Peliculas</h1>
<p>Seleccione una Pelicula.</p>
<form method="POST", action="{{url_for('predecir')}}">
  <select name="pelicula" id="pelicula">
	<optgroup label="Acción">
	  <option value="The Dark Knight">The Dark Knight</option>
	</optgroup>
	<optgroup label="Aventura">
	  <option value="Jumanji">Jumanji</option>
	</optgroup>
  </select>
  <input type="submit" class="btn btn-primary" value="Predecir Similares">
</form>
</body>
</html>